extends layout.jade

block content
	h2= "Welcome to GitHub assignment!"
	p= "I used a free template called"
		b= " Twenty."
		|  I copied all the CSS files, changed the main HTML, then used a website to convert HTML to jade. I used it for layout.jade